/* CSS Stylesheet for the admin interface for Restaurant Reservations */

.clearfix:before,
.clearfix:after { /* thanks bootstrap */
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* Bookings Table */
#rtb-bookings-table .subsubsub {
	float: right;
}

#rtb-bookings-table  .subsubsub .trash a {
	color: #a00;
}

#rtb-bookings-table  .subsubsub .trash a:hover {
	color: red;
}

#rtb-filters {
	float: left;
}

#rtb-filters  .subsubsub {
	margin-bottom: 0.5em;
	float: none;
}

#rtb-filters .date-filters {
	clear: both;
	padding: 1em;
	margin: 1em 0 2em;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

#rtb-filters .date-filters .datepicker {
	max-width: 10em;
}

#rtb-filters .current {
	font-weight: 600;
	color: #000;
}

#rtb-bookings-table .column-message .rtb-message-data,
#rtb-bookings-table .message-row {
	display: none;
}

#rtb-bookings-table tr.closed {
	opacity: 0.7;
	filter: opacity(alpha=70);
}
#rtb-bookings-table tr.closed:hover {
	opacity: 1;
	filter: opacity(alpha=100);
}

#rtb-bookings-table tr.pending .check-column,
#rtb-bookings-table tr.pending.message-row td {
	border-left: 4px solid #dd3d36;
}

@media screen and (max-width: 782px) {

	#rtb-bookings-table .fixed .column-date {
		display: table-cell;
	}
}

/* Settings Pages (most of this is handled by the Simple Admin Pages library) */
.rtb-template-tags-box {
	margin-top: 0.5em;
	padding: 1em;
	border-left: 4px solid #2ea2cc;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.rtb-template-tags-box strong {
	min-width: 8em;
	display: inline-block;
}
