/* CSS Stylesheet for the admin interface for Restaurant Reservations */

.clearfix:before,
.clearfix:after { /* thanks bootstrap */
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

/* Bookings Table */
#rtb-bookings-table .subsubsub {
	float: right;
}

#rtb-bookings-table  .subsubsub .trash a {
	color: #a00;
}

#rtb-bookings-table  .subsubsub .trash a:hover {
	color: red;
}

#rtb-filters {
	float: left;
}

#rtb-filters  .subsubsub {
	margin-bottom: 0.5em;
	float: none;
}

#rtb-filters .date-filters {
	clear: both;
	padding: 1em;
	margin: 1em 0 2em;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

#rtb-filters .date-filters .datepicker {
	max-width: 10em;
}

#rtb-filters .current {
	font-weight: 600;
	color: #000;
}

#rtb-bookings-table .column-message .rtb-message-data,
#rtb-bookings-table .message-row {
	display: none;
}

#rtb-bookings-table tr.closed {
	opacity: 0.6;
	filter: opacity(alpha=60);
}
#rtb-bookings-table tr.closed:hover {
	opacity: 1;
	filter: opacity(alpha=100);
}

#rtb-bookings-table tr.pending .check-column,
#rtb-bookings-table tr.pending.message-row td {
	border-left: 4px solid #dd3d36;
}

#rtb-bookings-table tr.pending .check-column input[type=checkbox] {
	margin-left: 4px;
}

#rtb-bookings-table th#date {
	width: auto;
}

#rtb-bookings-table th#party {
	width: 3em;
}

#rtb-bookings-table th#message {
	width: 5em;
}

#rtb-bookings-table td .actions {
	line-height: 28px;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0;
	-moz-transition: opacity 0.3s 0;
	transition: opacity 0.3s 0;
}

#rtb-bookings-table tr:hover td .actions {
	opacity: 1;
}

#rtb-bookings-table .column-date .actions .trash {
	color: #a00;
}

#rtb-bookings-table .column-date .actions .trash:hover {
	color: red;
}

#rtb-bookings-table .column-date .status {
	width: 0;
	height: 0;
	overflow: hidden;
	line-height: 28px;
	opacity: 0;
	-webkit-transition: opacity 0.6s 0;
	-moz-transition: opacity 0.6s 0;
	transition: opacity 0.6s 0;
}

#rtb-bookings-table .column-date .status .spinner {
	display: inline-block;
	float: left;
	margin: 4px 4px 0 0;
	vertical-align: middle;
}

#rtb-bookings-table .column-date.loading .actions {
	display: none;
}

#rtb-bookings-table .column-date.loading .status {
	width: auto;
	height: auto;
	overflow: visible;
	opacity: 0.5;
}

#rtb-bookings-table tr.notice td {
	background: #2ea2cc;
	color: #fff;
}

#rtb-bookings-table tr.notice.trash td {
	background: #dd3d36;
}

@media screen and (max-width: 782px) {

	#rtb-bookings-table .fixed .column-date {
		display: table-cell;
	}

	#rtb-bookings-table th#party,
	#rtb-bookings-table th#message {
		width: auto;
	}
}

/* Add/edit bookings modal */
.rtb-admin-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 3;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
	-moz-transition: opacity 0.3s 0, visibility 0 0.3s;
	transition: opacity 0.3s 0, visibility 0 0.3s;
}

.rtb-admin-modal.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0, visibility 0 0;
	-moz-transition: opacity 0.3s 0, visibility 0 0;
	transition: opacity 0.3s 0, visibility 0 0;
}

.rtb-admin-modal.is-visible .rtb-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.rtb-admin-modal .rtb-container {
	position: relative;
	width: 90%;
	max-width: 20em;
	padding: 2em;
	background: #FFF;
	margin: 3em auto 4em;
	cursor: auto;
	border-radius: 0.25em;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.rtb-admin-modal fieldset {
	padding: 0;
}

.rtb-admin-modal fieldset > div {
	margin-top: 1em;
}

.rtb-admin-modal legend {
	font-size: 1.5em;
	margin: 0 0 0.83em;
	font-weight: 400;
	padding: 0;
}

.rtb-admin-modal label {
	color: #777;
	font-style: italic;
	display: block;
}

#rtb-booking-modal button,
#rtb-email-modal button {
	margin-top: 1em;
	margin-right: 1em;
}

#rtb-booking-modal .button,
#rtb-email-modal .button {
	margin-top: 1em;
}

.rtb-admin-modal button,
.rtb-admin-modal .button {
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.rtb-admin-modal button:disabled,
.rtb-admin-modal .button:disabled {
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.rtb-admin-modal .action-status {
	display: inline-block;
	float: right;
	margin-top: 1em;
	opacity: 0;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.rtb-admin-modal .action-status.is-visible {
	opacity: 1;
}

.rtb-admin-modal .action-status > span {
	display: none;
	background-position: 4px;
	margin: 0;
	height: 28px;
	width: 28px;
	line-height: 28px;
	font-size: 28px;
}

.rtb-admin-modal .action-status > .spinner {
	display: block;
}

.rtb-admin-modal .action-status > .success {
	color: #7ad03a;
}

.rtb-admin-modal .action-status > .error {
	color: #dd3d36;
}

#rtb-booking-form .rtb-error {
	background: #dd3d36;
}

#rtb-booking-form .rtb-error a  {
	color: #fff;
}

.rtb-admin-modal input[type="text"],
.rtb-admin-modal input[type="email"],
.rtb-admin-modal input[type="tel"],
.rtb-admin-modal textarea {
	max-width: 100%;
	width: 100%;
}

#rtb-email-modal .rtb-email-to {
	font-weight: 700;
	color: #777;
}

#rtb-email-modal textarea {
	min-height: 12em;
}

.rtb-description {
	margin: 0.5em 0;
	color: #777;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: max-height 0.5s 0;
	-moz-transition: max-height 0.5s 0;
	transition: max-height 0.5s 0;
}

.rtb-description.is-visible {
	max-height: 20em;
}

#rtb-error-modal .rtb-error-msg {
	margin-bottom: 1em;
}
/* Hide the outer scrollbar when the modal is open */
.rtb-hide-body-scroll {
	overflow: hidden !important;
}

/* Settings Pages (most of this is handled by the Simple Admin Pages library) */
.rtb-template-tags-box {
	margin-top: 0.5em;
	padding: 1em;
	border-left: 4px solid #2ea2cc;
	background: #fff;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.rtb-template-tags-box strong {
	min-width: 8em;
	display: inline-block;
}

/* Addons Page */
#rtb-addons {
	margin-top: 2em;
}

#rtb-addons .rtb-loading {
	line-height: 10em;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background: #eee;
	background: rgba(0,0,0,0.1);
	color: #777;
	color: rgba(0,0,0,0.54);
}

#rtb-addons .rtb-loading .spinner {
	float: none;
	display: inline-block;
}

#rtb-addons .error {
	padding: 0.25em 0.5em;
	background: #f50;
	color: #fff;
}

#rtb-addons .error a {
	color: #fff;
}

#rtb-addons .addon {
	margin-bottom: 20px;
	padding: 20px;
	background: #fff;
	min-height: 128px;
	border-radius: 3px;
	display: none;
}

#rtb-addons img {
	float: left;
	width: 128px;
	height: 128px;
	margin: 0 20px 20px 0;
}

#rtb-addons .action {
	margin-top: 2em;
}

#rtb-addons .soon,
#rtb-addons .installed {
	line-height: 28px;
	display: inline-block;
	padding: 0 0.75em;
	border-radius: 3px;
	box-shadow: 0 1px 0 #ccc;
}

#rtb-addons .soon {
	background: #F0F05E;
}

#rtb-addons .installed {
	background: #81F05E;
}

@media screen and (max-width: 600px) {

	#rtb-addons .addon {
		text-align: center;
	}

	#rtb-addons img {
		float: none;
		margin: 0;
	}
}

/* License page */
.rtb-license-setting .status {
	display: inline-block;
	padding: 4px;
	color: #fff;
}

.rtb-license-setting .status.valid {
	background: #069106;
}

.rtb-license-setting .status.inactive {
	background: #BE0A0A;
}
